body {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: var(--bg);
  color: var(--text);
}


header {
  background-size: cover;
  color: white;
  text-align: center;
  padding: 20px;
}

.hero {
  background-image: url(IMG/fondo-header.jpg);
  background-size: cover;
  text-align: center;
  padding: 50px 20px;
  color: #fff;
  font-size: 25px;
}
#nombre-usuario{
  font-size: 2em;
}
.section {
  padding: 30px 20px;
  background-color: #ff7b006b;
}
.section:nth-child(even) {
  background-color: #ffee0063;
}
.section h2 {
  color: #ff9900;
}
.card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 10px 0;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}
footer {
  background-color: #000000de;
  color: white;
  text-align: center;
  padding: 15px;
  position: relative;
}

a{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.804);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 7%;
  position: relative;

  background-color: #474747;
}



.logo{
  width: 50px;
  border-radius: 100%;
  border: 4px solid white;
}

nav ul{
  display: flex;
  list-style: none;
  gap: 30px;
  flex: 1;
  justify-content: flex-end;
}

.user-icon {
  width: 50px;
  margin-left: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 4px solid black;
}

.dropdown-menu{
  background-color: rgba(255, 255, 255, 0.927);
  position: absolute;
  top: 10%;
  box-shadow: 0 0 10px rgb(0,0,0,0,3);
  width: 90%;
  max-width: 350px;
  right: 8%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

.dropdown-wrapper{
  padding: 20px;
}

.user-info{
  display: flex;
  align-items: center;
  gap: 15px;
}

.user-info img {
  border-radius: 50%;
}

.user-info h2 {
  font-size: 1.2em;
}

.dropdown-menu hr {
  margin: 15px 0;
  border: 0;
  height: 1px;
}

.menu-options{
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.menu-options div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-options img {
  width: 30px;
}

.menu-options p {
  flex: 1;
  margin-left: 15px;
  font-size: 15px;
}

.menu-options span {
  font-size: 20px;
}

.open-menu {
  max-height: 1000px;
}





html[data-theme="dark"] body {
    background: #121212 !important;
    color: #f1f1f1 !important;
}

p, li {
  color: #6b6a6a; /* un gris oscuro legible */
}

.hero p {
  color: #ffffff; 
}

footer p {
  color: #ffffff; 
}

html[data-theme="dark"] .card{
  background-color: #0f1418;
}

html[data-theme="dark"] footer p,
html[data-theme="dark"] .hero p,
html[data-theme="dark"] h1{
  color: rgb(83, 83, 83);
}

html[data-theme="dark"] footer {
  background-color: #0f1418;
}

html[data-theme="dark"] h2
html[data-theme="dark"] .section{
  color: #fff;
  
}

html[data-theme="dark"] .barra{ 
  color: rgb(44, 44, 44);
  background-color: #0f1418;
}

html[data-theme="dark"] .barra a{
  color: #474747;
}

html[data-theme="dark"] .section{
  background-color: #442a0b;
  
}

html[data-theme="dark"] .dropdown-menu {
  background-color: #0f1418;
  color: #6b6a6a;
}

html[data-theme="dark"] .dropdown-menu a{
  color: #6b6a6a;
}

